@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

section .container {
  margin: 50px auto;
  text-align: center; }

header {
  background-color: #313234;
  line-height: 35px; }

nav:before, nav:after {
  display: table;
  clear: both;
  content: ""; }
nav img {
  margin: 0; }
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right; }
  nav ul li {
    display: inline-block; }
    nav ul li a {
      line-height: 50px;
      padding: 0 20px;
      color: #FFF;
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif; }
      nav ul li a:hover {
        color: #03E0EB;
        transition: 0.5s; }

.hero {
  background-image: url("https://static.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg");
  background-size: cover;
  height: 40vh;
  width: 100%; }

.slogan {
  background-color: rgba(40, 32, 32, 0.7);
  float: right;
  max-width: 800px;
  position: relative;
  top: 80px;
  padding: 0 30px;
  color: #FFF;
  font-weight: 100; }

[class*="col-"] {
  float: left;
  min-height: 1px; }

.row:before, .row:after {
  display: table;
  clear: both;
  content: ""; }

.benefits [class*="fa-"] {
  font-size: 35px;
  padding: 7px;
  color: #FFF; }

.benefits div button {
  border-radius: 5px;
  border: none;
  width: 60px;
  background-color: #000;
  cursor: pointer; }
  .benefits div button:hover {
    background-color: #00C7E8;
    transition: 0.5s; }
.benefits div h2 {
  font-size: 16px;
  text-transform: uppercase; }
.benefits div p {
  font-size: 16px; }

section.benefits button:hover + h2 {
  color: #00C7E8;
  transition: 0.5s; }

.some-text div h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0; }

.image-container {
  position: relative; }

.icons-position, .layer .fa-search, .layer .fa-camera-retro, .layer-large .fa-search, .layer-large .fa-camera-retro {
  font-size: 20px;
  position: absolute;
  top: 50%;
  display: none;
  color: #FFF; }

.layer .fa-search {
  left: 40%;
  z-index: 1; }
.layer .fa-camera-retro {
  left: 60%;
  z-index: 2; }

.layer-large .fa-search {
  left: 40%;
  z-index: 1; }
.layer-large .fa-camera-retro {
  left: 60%;
  z-index: 1; }

.image-container:hover i.fa {
  display: block;
  transition: 0.5s; }

.gallery {
  margin-bottom: 20px; }

.image-container:hover {
  opacity: 0.5; }
.image-container img {
  width: 100%;
  display: block;
  height: 250px;
  margin: 0;
  padding: 0; }

.image-box {
  background-size: cover;
  background-position: center;
  height: 230px;
  width: 230px;
  border-radius: 50%;
  display: inline-block; }
  .image-box:hover {
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s; }

.worker, .one:hover:after, .two:hover:after, .three:hover:after, .four:hover:after {
  line-height: 230px;
    line-height-color: #FFF;
    line-height-font-size: 20px;
    line-height-transition: 0.5s; }

.one:hover:after {
  content: "CEO"; }

.two:hover:after {
  content: "Office Manager"; }

.three:hover:after {
  content: "Sales Manager"; }

.four:hover:after {
  content: "Software Developer"; }

.one {
  background-image: url("https://images.pexels.com/photos/119705/pexels-photo-119705.jpeg?h=350&auto=compress&cs=tinysrgb"); }

.two {
  background-image: url("https://images.pexels.com/photos/101584/pexels-photo-101584.jpeg?h=350&auto=compress&cs=tinysrgb"); }

.three {
  background-image: url("https://images.pexels.com/photos/253758/pexels-photo-253758.jpeg?h=350&auto=compress&cs=tinysrgb"); }

.four {
  background-image: url("https://images.pexels.com/photos/27411/pexels-photo-27411.jpg?h=350&auto=compress&cs=tinysrgb"); }

.person {
  margin: 50px 0;
  text-align: center; }

.image-and-text {
  background-color: #7D7F7E;
  color: #FFF; }
  .image-and-text div p {
    text-align: justify;
    padding: 0 20px;
    font-size: 14px; }
  .image-and-text div h2 {
    text-transform: uppercase;
    font-size: 32px;
    text-align: left;
    padding: 0 20px; }
  .image-and-text div img {
    margin-top: 30px;
    margin-bottom: -60px; }

.numbers h2, .numbers h4 {
  text-align: center;
  padding: 0;
  margin: 0; }
.numbers h2 {
  font-size: 44px;
  font-weight: 700; }
.numbers h4 {
  text-transform: uppercase;
  color: #03E0EB;
  font-weight: 700; }

footer {
  background-color: #313234;
  color: #FFF;
  margin-top: 50px;
  padding: 15px; }
  footer h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700; }
  footer p {
    font-size: 18px; }
  footer .contact {
    padding: 0;
    margin: -5px; }
  footer .icons i.fa {
    font-size: 20px;
    background-color: #00C7E8;
    color: #FFF;
    padding: 5px;
    width: 35px;
    line-height: 25px;
    margin: 5px;
    text-align: center;
    cursor: pointer; }

.box-with-text {
  padding: 5px 30px; }
  .box-with-text .left {
    text-align: left; }

.copyright {
  background-color: #252726;
  color: #FFF;
  text-align: center;
  margin: 0;
  padding: 10px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

@media (max-width: 767px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; }

  header nav ul {
    float: none; }

  header nav ul li {
    display: block;
    width: 50%; }

  .layer .fa-search {
    display: block; }
  .layer .fa-camera-retro {
    display: block; }

  .layer-large .fa-search {
    display: block; }
  .layer-large .fa-camera-retro {
    display: block; }

  footer .icons {
    margin: 0 12%; }
    footer .icons i.fa {
      font-size: 32px;
      width: 60px;
      line-height: 50px;
      margin: 10 14px; }

  .slogan {
    width: 100%; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; }

  .layer .fa-search {
    display: block; }
  .layer .fa-camera-retro {
    display: block; }

  .layer-large .fa-search {
    display: block; }
  .layer-large .fa-camera-retro {
    display: block; }

  footer .icons i.fa {
    font-size: 32px;
    width: 60px;
    line-height: 50px;
    margin: 10 14px; }

  footer .icons {
    margin: 0 12%; } }

/*# sourceMappingURL=style.css.map */
